<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

    <div id='app'>
        <!--   <h3>事件觸發：</h3>
          <button @click="clickEvent('isClickEvent')">點擊事件</button>
          <h3>函式觸發：</h3>
          <button @click="callClick">其他函式觸發</button> -->
        <h3>商品列表</h3>
        <ul>
            <li v-for="item in products" :key="item.name">
                {{ item.name }} - {{ item.price }}
                <button @click="addCart(item)">加入購物車</button>
            </li>
        </ul>
        <br>
        <h3>購物車列表</h3>
        <ul>
            <li v-for="product in carts" :key="product.name">
                {{ product.name }}
            </li>
        </ul>
        <h3>總金額：</h3>
        {{ sum }}
    </div>

    <script>
        const App = new Vue({
            el: '#app',
            data: {
                products: [
                    {
                        name: '上衣',
                        price: 300,
                    },
                    {
                        name: '褲子',
                        price: 500,
                    },
                    {
                        name: '鞋子',
                        price: 1500,
                    },
                    {
                        name: '帽子',
                        price: 600,
                    },
                ],
                carts: [],
                sum: 0,
            },
            
            methods: {
                addCart(add) {
                    this.carts.push(add);
                    this.total();
                },
                total() {
                    let total = 0;
                    this.carts.forEach(item => {
                        console.log(item.price);
                        total += item.price;
                    });
                    this.sum = total;
                }
            },
        })

    </script>
</body>

</html>