<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>todolist</title>
</head>

<body>

    <div id="app" class="container my-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">待辦事項</span>
          </div>
          <input type="text" class="form-control" placeholder="準備要做的任務"  v-model="newTodo" placeholder="準備要做的任務" @keyup.enter="addTodo">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" href="#" :class="{'active': visibility == 'all'}" @click.prevent=" visibility ='all' ">全部</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#" :class="{'active': visibility == 'doing'}" @click.prevent=" visibility ='doing' ">進行中</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" :class="{'active': visibility == 'done'}" @click.prevent=" visibility ='done' ">已完成</a>
              </li>
            </ul>
          </div>
          <ul class="list-group list-group-flush text-left">
            <li class="list-group-item" v-for="(item, key) in filteredTodos" @dblclick="editTodo(item)">
              <div class="d-flex" v-if="item.id !== cacheTodo.id">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" :id="item.id" v-model="item.completed">
                  <label class="form-check-label" :for="item.id" :class="{'completed': item.completed}">
                    {{ item.title }}
                  </label>
                </div>
                <button type="button" class="close ml-auto" aria-label="Close" @click="removeTodo(item)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <input type="text" class="form-control" v-if="item.id == cacheTodo.id" v-model="cacheTitle" @keyup.esc="cancelEdit()" @keyup.enter="doneEdit(item)">
            </li>
            
            
          </ul>
          <div class="card-footer d-flex justify-content-between">
            <span>還有 {{ uncompletedCount }} 筆任務未完成</span>
            <a href="#" @click.prevent="cleanAll">清除所有任務</a>
          </div>
        </div>
      </div>
    <!--
    <li class="list-group-item" v-for="item in todos">
        <div class="d-flex">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="a1">
            <label class="form-check-label" for="a1">
              {{ item.title}}
            </label>
          </div>
          <button type="button" class="close ml-auto" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
      -->
    <style>
        .completed {
            text-decoration: line-through
        }
    </style>

    <script>


var app = new Vue({
  el: "#app",
  data: {
    newTodo: "",
    todos: [
      /* 這是資料推進來的模板
      {
          id: '',
          title: '',
          completed: false
       }, */
    ],
    cacheTodo: {},
    cacheTitle: "",
    visibility: "all",
    uncompletedTodos: [],
    uncompletedNum: ""
  },
  methods: {
    addTodo: function() {
      var value = this.newTodo.trim();
      if (!value) {
        return;
      }
      var timestamp = Math.floor(Date.now());
      this.todos.push({ id: timestamp, title: value, completed: false });
      this.newTodo = "";
    },
    removeTodo: function(todo) {
      var vm = this;
      var newIndex = vm.todos.findIndex(function(item, key) {
        return todo.id === item.id;
      });
      this.todos.splice(newIndex, 1);
    },
    editTodo: function(item) {
      // 將雙擊的項目傳入 data 暫存
      this.cacheTodo = item;
      this.cacheTitle = item.title;
    },
    cancelEdit: function() {
      // 切換到未雙擊時的狀態
      this.cacheTodo = {};
    },
    doneEdit: function(item) {
      // 按下 Enter 的瞬間把編輯中文字變為編輯完成的項目
      item.title = this.cacheTitle;
      // 回復到未點擊狀態
      this.cacheTitle = "";
      this.cacheTodo = {};
    },
    cleanAll: function() {
      this.todos = [];
    }
  },
  computed: {
    filteredTodos: function() {
      if (this.visibility == "all") {
        return this.todos;
      } else if (this.visibility == "doing") {
        var anotherTodos = [];
        this.todos.forEach(function(item) {
          if (!item.completed) {
            anotherTodos.push(item);
          }
        });
        return anotherTodos;
      } else if (this.visibility == "done") {
        var anotherTodos = [];
        this.todos.forEach(function(item) {
          if (item.completed) {
            anotherTodos.push(item);
          }
        });
        return anotherTodos;
      }
      //return [];
    },
    uncompletedCount: function() {
      var uncompletedTodos = this.todos.filter(function(item) {
        return item.completed == false;
      });
      return uncompletedTodos.length;
    }
  }
});
    </script>

</body>

</html>